* text=auto
.gitattributes text eol=lf

*.cs      text eol=lf
*.csproj  text eol=lf
*.props   text eol=lf
*.targets text eol=lf
*.json    text eol=lf
*.md      text eol=lf
*.yml     text eol=lf
*.sln     text eol=crlf
*.slnf    text eol=lf

*.bin binary
*.db  binary
*.gif binary
*.jpg binary
*.jpeg binary
*.png binary
